@import url('https://fonts.googlpapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;  
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 165px;
    height: 50px;

    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

    background: #F6762C;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.main {

}

/*- Header */

.header {
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.logo {

}

.header__nav {

}

.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}

/*- Welcome */

.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    padding: 240px 0px;
    margin-top: -100px;

    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text {
    width: 550px;
}

.welcome__subtitle {
    margin-bottom: 7px;

    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome__title {
    font-size: 58px;
    margin: 0;
}

.welcome__desc {
    margin: 40px 0px;
    font-size: 18px;
    opacity: 0.7;
}

/*- LIST CARDS */
.food-list {
    padding: 100px 0;
}

.food-list .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.food-list__card {
    width: 260px;
    text-align: center;

    overflow: hidden; /*-наша картинка не выходит за границы обрезанных краев*/

    border-radius: 10px;
    background: #312F30;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__text-wrapper {
    padding: 30px 20px;
}

.food-list__title {
    margin-bottom: 15px;
    font-size: 20px;
    margin-top: 0;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}

/*- Burger King */
.burger-king {
    background: #312F30;
    padding: 60px 0;
}


.burger-king__wrapper {
    display: flex;
    justify-content: space-between;
}

.burger-king___img {
    max-width: 470px;
}

.burger-king__inf {
    padding: 100px 90px 100px 0;
    max-width: 360px;
}

.burger-king__title {
    font-size: 44px;
    margin: 0;
    font-weight: normal;
}

.burger-king__desc {
    opacity: 0.7;
    margin: 25px 0 15px 0;
}

.burger-king__price {
    font-weight: 500;
    color: #F6762C;
    letter-spacing: 0.1em;
    font-size: 20px;
}

.burger-king__price + .burger-king__price {
    margin-left: 3px;
}

.burger-king__price--old {
    font-size: 16px;
    opacity: 0.5;
    text-decoration:line-through;
}

.burger-king .btn {
    margin-top: 10px;
}








